


<%= button_to(new_admin_registration_path, class: "home_page_buttons", method: :get) do %>
	Create Admin
<% end %>

<% @all_admins.each do |admin| %>
	<p><%= admin.first_name %></p>
	<p><%= admin.email %></p>
<% end %>