// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home_page_buttons {
  width: 200px;
  height: 70px;
  background-color: white;
  color: blue;
  border: 2px solid black;
  box-shadow: 6px 6px 6px black;
  transition: padding-top 0.5s ease;
  transition: background-color 2s ease;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 50px;

  &:hover {
  	padding-bottom: 0px;
    padding-top: 5px;
    font-family: "Beyno";
    background-color: teal;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}